button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  text-align: center;
  background-color: black;
}

img {
  position: absolute;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin: auto;
  background-image: url(/img/background.png);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

/* game header */
.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  font-size: 24px;
  border: 4px solid black;
  border-radius: 8px;
  transition: transform 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  font-size: 32px;
  margin-top: 8px;
  border-radius: 20px;
  font-weight: bold;
  visibility: hidden;
  user-select: none;
}

.game__leftcarrot {
  width: 50px;
  height: 50px;
  font-size: 38px;
  margin-top: 8px;
  color: white;
  background-color: darksalmon;
  border: 3px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  visibility: hidden;
  user-select: none;
}

/* game field */
.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

/* popup */
.pop-up {
  width: 400px;
  height: 140px;
  padding: 20px;
  margin: auto;
  background-color: #00000090; /* black에 90% 투명도 */
  border-radius: 20px;
  color: white;
  text-align: center;
  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}

.pop-up__icon {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
  transition: transform 300ms ease-in;
}

.pop-up__icon:hover {
  transform: scale(1.1);
}

.pop-up__message {
  display: block;
  font-size: 38px;
}

.carrot,
.bug {
  transition: transform 300ms ease-in;
  cursor: pointer;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
